<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django + Charts.js</title>

    {% include 'datavisualisation_app/base/css.html' %}
    {% include 'datavisualisation_app/base/bootstrap_defaults.html' %}
  </head>
  <body>



      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <ul class="nav navbar-nav">
    
              {# Django Home Link / Admin Link / Register Link#}
              {% if user.is_authenticated %}
              <li> <span class="btn  navbar-brand navbar-default" onclick="openNav()">&#9776;open</span></li>
              <li><a class="navbar-brand" href="{% url 'login_app:loginindex' %}">Home</a></li>
              {% else %}
              <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
              {% endif %}
              
              <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
              <li><a class="navbar-link" href="{% url 'login_app:register' %}">Register</a></li>
              
    
    
              {# Logic for login and logout option #}
              {% if user.is_authenticated %}
               <li><a href="{% url 'login_app:profile' %}">profile</a></li>
             
               <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a class="navbar-link" href="{% url 'login_app:user_login' %}">Login</a></li>
              {% endif %}
              
            </ul>
          </div>
        </nav>
























    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'datavisualisation_app/base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}
      
      {% endblock %}
    })
    </script>
  </body>
</html>
